<form action="/figures/<%=@figure.id%>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="PATCH">
  <h3>Your Historical Figure's Current Information</h3>
  <h4>Name:</h4><%=@figure.name%>
  <br></br>

  <h4><%=@figure.name%>'s Landmarks:</h4>
  <%@figure.landmarks.each do |landmark|%>
      <%=landmark.name%>
      <br></br>
  <%end%>

  <h4><%=@figure.name%>'s Titles:</h4>
  <%@figure.titles.each do |title|%>
        <%=title.name%>
          <br></br>
  <%end%>


  <h3>Edit Your Historical Figure's Information Below:</h3>

    <label>Figure Name:</label>
    <input type="text" name="figure[name]" id="figure_name">
    <br></br>

    <label>Figure Title:</label>
    <input type="text" name="figure[title_ids]" id="edit_title">
    <br></br>

    <label>Figure Landmark:</label>
    <input type="text" name="landmark[name]" id="new_landmark">
    <br></br>

    <input type="submit" value="Edit Figure">

</form>